<div mat-dialog-title style="display: flex; justify-content: space-between">
  <div style="display: flex; gap: 5px">
    <span class="material-symbols-outlined" style="color: rgb(132, 180, 180)">
      person_apron
    </span>
    <h3>Emloyeur Form</h3>
  </div>

  <span
    class="material-symbols-outlined"
    style="cursor: pointer"
    (click)="onClose()"
  >
    close
  </span>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <div style="display: flex; width: 100%; gap: 20px; align-items: center">
      <div>
        
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text" [formControl]="firstNameCtrl" />
          <span
          style="color: red;font-size: 12px;"
          *ngIf="
            firstNameCtrl.hasError('required') &&
            (firstNameCtrl.dirty || firstNameCtrl.touched)
          "
          >Ce champ est obligatoire</span
        >
        </mat-form-field>
        
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" [formControl]="lastNameCtrl" />
        <span
          style="color: red;font-size: 12px;"
          *ngIf="
          lastNameCtrl.hasError('required') &&
            (lastNameCtrl.dirty || lastNameCtrl.touched)
          "
          >Ce champ est obligatoire</span
        >
      </mat-form-field>
    </div>

    <div style="display: flex; width: 100%; gap: 20px; align-items: center">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="emailCtrl" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          type="email"
          [matDatepicker]="picker"
          (click)="picker.open()"
          [formControl]="dateCtrl"
        />
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-radio-group
      aria-label="Select an option"
      style="display: flex; justify-content: space-around"
      [formControl]="genreCtrl"
    >
      <label><b>Genre</b></label>
      <mat-radio-button color="primary" value="Homme">Homme</mat-radio-button>
      <mat-radio-button color="primary" value="Femme">Femme</mat-radio-button>
      <mat-radio-button color="primary" value="Autres">Autres</mat-radio-button>
    </mat-radio-group>
    <div
      style="
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: center;
        margin-top: 10px;
      "
    >
      <mat-form-field appearance="outline">
        <mat-label>Education</mat-label>
        <mat-select [formControl]="educationCtrl">
          <mat-option [value]="education" *ngFor="let education of education">{{
            education
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Compagny</mat-label>
        <input matInput type="text" [formControl]="compagnyCtrl" />
      </mat-form-field>
    </div>

    <div
      style="
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: center;
        margin-top: 10px;
      "
    >
      <mat-form-field appearance="outline">
        <mat-label>Experience</mat-label>
        <input matInput type="number" [formControl]="experienceCtrl" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Salaire Actuelle</mat-label>
        <input matInput type="number" [formControl]="salaireCtrl" />
      </mat-form-field>
    </div>
  </div>
</form>
<div mat-dialog-actions class="action">
  <button mat-raised-button (click)="onClose()">Annuler</button>
  <button mat-raised-button color="primary" (click)="onFormSubmit()" [disabled]="!empForm.valid">
    Enregistrer
  </button>
</div>
