<div style="display: flex; justify-content: center; padding: 10px; border-radius: 10%;">
<div style="display: flex; flex-direction: column; gap: 20px;">
<mat-toolbar style="height: 40px;" color="secondary">
  <strong>Employeur Application</strong>
  <span class="example-spacer"></span>
  <button mat-stroked-button (click)="openAddEditForm()">    
    Ajouter Employeur
  </button>
</mat-toolbar>
<div style="display: flex; flex-direction: column;padding: 10px;">
  <emp-list></emp-list>
</div>
</div>
</div>